<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Annotation task</title>
</head>
<body>

<script>

    let data = {{images_array|safe}}

    let all_labels = [];

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
    }

    .with_margin {
        margin: 8px;
    }

    .big_button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border: black solid;
    }
    .big_button:hover{
        color:#000000;
        background-color:#FFFFFF;
    }
</style>

<form id="main_labels">
<table>

    <tr>
        <td style="vertical-align:top">
            <img src="" width="350" class="with_margin" id="main_image"><br><br>
            <div style="display:inline-block; padding: 8px; border: black solid">
                <p id="counter">0 / 0</p>
            </div>
        </td>
        
        
        <td style="vertical-align:top">
			<fieldset class="with_margin">
				<legend><b>STEM</b> 🌿 🦠 🔬 🧬 🚀 📡 💊</legend>
				<input type="checkbox" id="Diagrams" name="Diagrams" value="Diagrams"> <label for="Diagrams"> Diagrams</label><br>
				<input type="checkbox" id="Mathematics" name="Mathematics" value="Mathematics"> <label for="Mathematics"> Mathematics</label><br>
				<input type="checkbox" id="Chemistry" name="Chemistry" value="Chemistry"> <label for="Chemistry"> Chemistry</label><br>
				<input type="checkbox" id="Geology" name="Geology" value="Geology"> <label for="Geology"> Geology</label><br>
				<input type="checkbox" id="Space" name="Space" value="Space"> <label for="Space"> Space</label><br>
				<input type="checkbox" id="Medicine_Health" name="Medicine_Health" value="Medicine_Health"> <label for="Medicine_Health"> Medicine & Health</label><br>
				<input type="checkbox" id="Technology_Engineering" name="Technology_Engineering" value="Technology_Engineering"> <label for="Technology_Engineering"> Technology & Engineering</label><br>
				<fieldset class="with_margin">
					<legend><b>Nature</b></legend>
					<input type="checkbox" id="Plants" name="Plants" value="Plants"> <label for="Plants"> Plants</label><br>
					<input type="checkbox" id="Animals" name="Animals" value="Animals"> <label for="Animals"> Animals</label><br>
					<input type="checkbox" id="Fossils" name="Fossils" value="Fossils"> <label for="Fossils"> Fossils</label><br>
				</fieldset>
			</fieldset><br>
        </td>

        <td style="vertical-align:top">
			<fieldset class="with_margin">
				<legend><b>Society</b> 👥 🏅 🏟 ⚖️ 🚊</legend>
				<input type="checkbox" id="People" name="People" value="People"> <label for="People"> People</label><br>
				<input type="checkbox" id="Sports" name="Sports" value="Sports"> <label for="Sports"> Sports</label><br>
				<input type="checkbox" id="Politics" name="Politics" value="Politics"> <label for="Politics"> Politics</label><br>
				<input type="checkbox" id="Events" name="Events" value="Events"> <label for="Events"> Events</label><br>
				<input type="checkbox" id="Transportation" name="Transportation" value="Transportation"> <label for="Transportation"> Transportation</label><br>
			</fieldset><br>
			<fieldset class="with_margin">
				<legend><b>Places</b> 🏛️ 🏘️ 🇺🇳 🗺️</legend>
				<input type="checkbox" id="Architecture" name="Architecture" value="Architecture"> <label for="Architecture"> Architecture</label><br>
				<input type="checkbox" id="Monuments_Memorials" name="Monuments_Memorials" value="Monuments_Memorials"> <label for="Monuments_Memorials"> Monuments & Memorials</label><br>
				<input type="checkbox" id="Landscapes" name="Landscapes" value="Landscapes"> <label for="Landscapes"> Landscapes</label><br>
				<input type="checkbox" id="Maps_Flags" name="Maps_Flags" value="Maps_Flags"> <label for="Maps_Flags"> Maps & Flags</label><br>
                <input type="checkbox" id="Places_Other" name="Places_Other" value="Places_Other"> <label for="Places_Other"> Places-Other</label><br>
			</fieldset>
        </td>

        <td style="vertical-align:top">
			<fieldset class="with_margin">
				<legend><b>Culture</b> 🏺 🎭 🎼 🍽️</legend>
				<input type="checkbox" id="History" name="History" value="History"> <label for="History"> History</label><br>
				<input type="checkbox" id="Art" name="Art" value="Art"> <label for="Art"> Art</label><br>
				<input type="checkbox" id="Music" name="Music" value="Music"> <label for="Music"> Music</label><br>
				<input type="checkbox" id="Literature" name="Literature" value="Literature"> <label for="Literature"> Literature</label><br>
				<input type="checkbox" id="Food" name="Food" value="Food"> <label for="Food"> Food</label><br>
				<input type="checkbox" id="Belief" name="Belief" value="Belief"> <label for="Belief"> Belief</label><br>
			</fieldset><br>
            <fieldset class="with_margin">
                <legend><b>Other</b> </legend>
                <input type="checkbox" id="Logos" name="Logos" value="Logos"> <label for="Logos"> Logos</label><br>
                <input type="checkbox" id="Other" name="Other" value="Other"> <label for="Other"> Other</label><br>
                <input type="text" id="other_text" name="other_text"><br><br>
            </fieldset><br>
        </td>

        <td style="vertical-align:top">
            <input type="button" value="Next" id="next_button" class="big_button"/>
            <input type="text" placeholder="YOUR NAME" id="name_button" style="display: none"/><br><br>
            <input type="button" value="Submit" id="submit_button" style="display: none" class="big_button"/>
        </td>
    </tr>


</table>


</form>

<div id="log"></div>


<script>
    let current_index = -1;

    function push_labels() {
        let labels = [];
        $.each($('#main_labels input:checkbox').serializeArray(), function (i, field) {
            labels.push(field.value);
        });
        $("input:checkbox").prop('checked', "");

        let other_text = $("#other_text").val();
        $("#other_text").val("");

        let item_labels = {"id": data[current_index].id, "url": data[current_index].url, "labels": labels, "other_text": other_text};

        all_labels.push(item_labels);
    }

    function next_image() {
        $("#main_image").attr("src", "https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif")

        if (current_index>=0) {
            push_labels();
        }

        $("#main_image").attr("src", data[++current_index].url)
        $("#counter").text(current_index + 1 + "/" + data.length);

        if (current_index>=data.length-1) {
            $("#next_button").hide()
            $("#submit_button").show();
            $("#name_button").show();
        }
    }

    $(function(){
        next_image();
    });

    $("#next_button").click(next_image);

    $("#submit_button").click(function() {
        push_labels();
        let name = $("#name_button").val();

        $.ajax({
          type: "POST",
          url: "/save",
          data: JSON.stringify({"name": name, "labels": all_labels}),
          success: function () {
              alert("Thank you")
              $("#submit_button").hide();
          },
          contentType : 'application/json',
        });
    });

</script>


</body>
</html>